@charset "utf-8";
blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, html, input, lengend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}
body, button, input, select, textarea, th {
    color: #333;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-family: poppin, 'PingFang SC', Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, sans-serif;
    font-family: Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, sans-serif/9
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%
}
li {
    list-style: none
}
img {
    border: 0 none;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality
}
input[type=button], input[type=submit] {
    cursor: pointer
}
button {
    cursor: pointer
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
a {
    color: #333;
    text-decoration: none
}
a:hover {
    color: #31c27c;
    text-decoration: none
}
a:focus, button:focus, input:focus {
    outline: 0
}
.text-center {text-align: center;}
.clear-fix {zoom: 1;}
.clear-fix:before, .clear-fix:after {display: table;line-height: 0;content: "";}
.clear-fix:after {clear: both; }
.hidden {display: none !important;}
/*滚动条美化*/
.mCSB_container::-webkit-scrollbar{width:0;height:0}
#lyric::-webkit-scrollbar{width:0;height:0}

html,body{
    height: 100%;
    width: 100%;
    background-color: #777970;
    overflow: hidden;
}
body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ba43a8+0,ea4fce+62,537bad+100&amp;0.38+0,0.17+61,0.8+100 */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: #000000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f7280', endColorstr='#000000');
    background-image: -webkit-linear-gradient(200deg, #7f7280, #000000);
    background-image: -moz-linear-gradient(200deg, #7f7280, #000000);
    background-image: -o-linear-gradient(200deg, #7f7280, #000000);
    background-image: -ms-linear-gradient(200deg, #7f7280, #000000);
    background-image: linear-gradient(200deg, #7f7280, #000000);
    overflow: hidden;
}
/* 模糊图像层 */
#blur-img {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
/* 移动端使用的模糊图像层 */
#mobile-blur {
    -webkit-filter: blur(50px);
    filter: blur(50px);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
}
/* 图像遮罩层 */
.blur-mask {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=30); 
    -moz-opacity:0.3; 
    opacity:0.3;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mobile-mask {
    filter:alpha(opacity=60); 
    -moz-opacity:0.6; 
    opacity:0.6;
}

#mkplayer{
    display: none;
}
.header {
    height: 50px;
    position: absolute;
}
.logo {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    display: inline-block;
    font-size: 23px;
    color: #829194;
    cursor: pointer;
    margin: 10px 20px;
}
.logo:hover {
    color: #fff;
}

/* 宽度约束容器 */
.container{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* 中部主要容器 */
.center{
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 100px;
}

/* 顶部按钮条 */
.btn-bar {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 360px;
    height: 55px;
}


/* 顶部按钮区域 */
.btn-box {
    position: absolute;
    top: 5px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
/* 常规按钮 */
.btn {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    position: relative;
    border-radius: 2px;
    border: 1px solid #fff;
    border: 1px solid rgba(150,150,150,.5);
    color: #fff;
    opacity: .8;
    filter: alpha(opacity=80);
    cursor: pointer;
    font-size: 14px;
    padding: 6px 13px;
    margin: 0 2px;
}
.btn:hover {
    border: 1px solid #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}
.btn-select {
    color: darkturquoise;
}

/* 左侧主体数据区 */
.data-area {
    position: absolute;
    left: 0;
    right: 360px;
    top: 60px;
    bottom: 0;
    overflow: hidden;
}

/* 数据区域容器 */
.data-box {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    overflow-y: auto;
}

/*以下是播放列表 css 样式*/
/* 列表头 */
.list-head {
    height: 40px;
}

/* 一项数据 */
.list-item {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #bdbdbe;
    color: rgba(225,225,225,.8);
    font-size: 14px;
    overflow: hidden;
    border-bottom: 1px solid rgba(150,150,150,.1);
    cursor: default;
    position: relative;
}

/* 正在播放的那项 */
.list-playing {
    color: #fff;
}

/* 列表数字 */
.list-num {
    display: block;
    width: 30px;
    text-align: center;
    float: left;
    overflow: hidden;
}
/* 正在播放的那项数字 */
.list-playing .list-num {
    background: url("../wave.gif") 10px 20px no-repeat;
    text-indent: -99px;
}

/* 音乐名字 */
.music-name {
    position: relative;
    display: block;
    width: auto;
    margin-left: 40px;
    margin-right: 300px;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none; /*禁止双击选定*/
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* 鼠标滑过时音乐名字被截断 */
.music-name-cult {
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.list-item:hover .music-name-cult {*/
/*    padding-right: 150px;*/
/*}*/
/*.list-playing:hover .music-name-cult {*/
/*    padding-right: 100px;*/
/*}*/
/* 作者名称与音乐专辑 */
.music-album {
    position: relative;
    display: block;
    width: 150px;
    float: right;
    height: 100%;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 列表中可以被点击的横条 */
.list-clickable {
    cursor: pointer;
}

/* 以下是歌单 css 样式 */
/* 歌单中的一项 */
.sheet-item {
    position: relative;
    display: block;
    width: 25%;
    float: left;
    text-align: center;
}
/* 正在播放的列表  */
.sheet-playing:before {
    content: url(../wave.gif);
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -45px;
}

/* 歌单名字 */
.sheet-name {
    /*padding: 0 5px;*/
    display: inline-block;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
/* 播放列表分割标题栏 */
.sheet-title-bar {
    border-radius: 2px;
    margin: 20px 0;
    text-align: center;
    line-height: 40px;
    height: 40px;
    color: #C5C5C5;
    background-color: rgba(0, 0, 0, 0.12);
}
/* 以下是界面右侧 css 样式 */
/* 播放器主体(歌词和封面) */
.player {
    height: 100%;
    width: 369px;
    float: right;
    position: relative;
}
/* 歌词显示区域 */
.lyric {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 6px;
    bottom: 10px;
    overflow: hidden;
    text-align: center;
    color: #bdbdbe;
    color: rgba(225,225,225,.8);
    line-height: 28px;
    padding: 20px 0;
}
/* 歌词ul */
#lyric {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
#lyric>li {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 正在播放的那一句歌词 */
#lyric .lplaying {
    color: #31c27c;
}
/* 歌词显示区显示的提示语(如加载中、无歌词等) */
.lyric-tip {
    position: absolute;
    width: 100%;
    top: 50%;
}
/* 标题 */
.info-title {
    color: #B2AFAF
}
.info-btn {
    cursor: pointer;
    color: #31c27c;
}
.info-btn:hover {
    text-decoration: underline;
}
/* 底部 */
.footer {
    height: 100px;
    bottom: 0;
    width: 100%;
    position: absolute;
}

/* 带图片的按钮 */
.player-btn {
    background-image: url("../player.png");
    opacity: .8;
    filter: alpha(opacity=80)
}
.player-btn:hover {
    opacity: 1;
    filter: alpha(opacity=100)
}
/* 暂停状态 */
.btn-state-paused {
    background-position: -30px 0;
}
/* 控制按钮(上一首、播放、下一首)区域 */
.con-btn {
    float: left;
    width: 130px;
    height: 100%;
    position: relative;
    margin: 0 10px;
}
.con-btn a{
    display: inline-block;
    position: absolute;
    top: 50%; 
}
.btn-prev{
    background-position: 0 -30px;
    width: 19px;
    height: 20px;
    margin-top: -10px; 
}

.btn-play{
    width: 21px;
    height: 29px;
    margin-top: -14.5px; 
    left: 36%;
    margin-left: -10.5px; 
}
.btn-next{
    background-position: 0 -52px;
    right: 30%;
    width: 19px;
    height: 20px;
    margin-top: -10px; 
}
.btn-order{
    background-position: 0 -173px;
    background-size: 450%;
    right: 0;
    width: 25px;
    height: 25px;
    margin-top: -10px; 
}
.btn-order-single {
    background-position: 0 -196px;
}
.btn-order-list {
    background-position: 0 -173px;
}
.btn-order-random {
    background-position: 0 -62px;
    height: 18px;
    margin-top: -9px;
}

/* 音乐进度条区域 */
.progress {
    width: auto;
    margin-left: 150px;
    margin-right: 200px;
    height: 100%;
    position: relative;
}

/* 限制进度条的盒子 */
.progress-box {
    position: absolute;
    height: 20px;
    left: 10px;
    right: 0;
    top: 50%;
    margin-top: -9px;
}

/* 音量控制区域 */
.vol {
    float: right;
    width: 200px;
    height: 100%;
    right: 0;
    position: relative;
}

.quiet {
    width: 60px;
    height: 100%;
    position: relative;
    float: left;
}
.btn-quiet{
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 21px;
    top: 50%;
    right: 0;
    margin-top: -10px;
    background-position: 0 -144px;
}
.btn-state-quiet {
    background-position: 0 -182px;
}
.volume {
    position: relative;
    margin-left: 60px;
    height: 100%;
    overflow: hidden;
}
/* 限制声音进度条的盒子 */
.volume-box {
    position: absolute;
    height: 20px;
    left: 10px;
    right: 10px;
    top: 50%;
    margin-top: -10px;
}

/* 以下是孟坤进度条控件样式区域 */
/* 进度条可点击区域 */
.mkpgb-area {
    position: relative;
    cursor: pointer;
    height: 100%;
}
/* 进度条有背景区域 */
.mkpgb-bar {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px; 
    margin-top: -1px; 
    border-radius: 2px;
    background-color: #808284;
    overflow: hidden;
}
/* 进度条已完成区域 */
.mkpgb-cur {
    position: absolute;
    background-color: #D8D8D8; 
    width: 0; 
    height: 2px; 
    top: 50%;
    margin-top: -1px; 
    border-radius: 2px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
}
/* 进度条小点 */
.mkpgb-dot {
    width: 10px; 
    height: 10px; 
    background-color: #fff; 
    border-radius: 5px; 
    overflow: hidden; 
    position: absolute; 
    left: 0px; 
    margin-left: -5px; 
    top: 50%; 
    margin-top: -5px;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
}
/* 进度条禁止点击样式 */
.mkpgb-locked {
    cursor: default;
}